{% extends 'base.html.twig' %}

{% block title %}l'EURO 2024{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="col-10 mx-auto">
					<h1 class="text-center fw-bolder text-dark py-5 my-4">Les pays qualifiés pour l'EURO 2024</h1>
					<div class="row article-card mb-4">


						{% for eurocountry in eurocountries %}
						<div class="col-3 col-md-2 mx-auto">
							<div class="text-center">
								<img src="{{ eurocountry.flag }}" class="img-fluid mx-auto d-block my-4 pt-5 "id="flag" alt="flag" />
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#">{{eurocountry.name}}</a></h2>
									<p class="mb-3">{{eurocountry.surname}}</p>
									
									<div class="section-btn m-4">
										<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="#">En savoir plus ...</a>
									</div>
							</div>
						</div>
					
                        {% endfor %}
{% endblock %}
